# Ignore virtual environment
venv/
.Venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment metadata
pip-log.txt
pip-delete-this-directory.txt

# Editor and OS-specific files
.idea/
.vscode/
.DS_Store
Thumbs.db
